#still in progress...

<!DOCTYPE html>
<html>
    <head>
	<title>LinTech</title>
        <meta charset="utf-8" />
        <meta name="resolution" content="width=device-width initial-scale=1"/>


    </head>
<body>
	<h1 align="center">Hello this is <b>LinTech</b></h1>
	<hr>
	<p align="center">We are students learning programming or what you call these SHET</p>
	<p align="center">Services we can provide you:</p>
	<ul align="center">
		<li>Create a Website</li>
		<li>Create a Mobile application</li>
	</ul>
</body>

</html>
