<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Audiowide|Acme|Atomic Age" rel="stylesheet">
	<script src="https://kit.fontawesome.com/03853e84a6.js" crossorigin="anonymous"></script>
	<title>PuTech - Home</title>
</head>
<body>

<nav>
	<div class="container">
		<h1>P<img src="logo.png" alt="" style="width:28px; height:28px">Tech</h1>
		
		<div class="menu">
			<a href="#" class="is-active">HOME</a>
			<a href="#">CHAT</a>
			<button class="dropdown"><i class="fas fa-sort-down"></i>
			  <div class="dropdown-content">
          <a href="#">Your Account</a>
          <a href="#">smth</a>
          <a href="#">smth</a>
        </button>
			</a>
		</div>
		
		<button class="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</button>
		
		
		
	</div>
</nav>

<script src="home.js"></script>


<div class="row">
  <div class="leftcolumn">
    <div class="card">
    <h2 style="font-family: arial; padding-bottom: 20px; text-align:center">print("Hello World!")</h2>
      <h4>Hi and welcome to our Website!</h4>
      <p>We are a group of students learning about programming and tech stuffs that will help us in the future, we like to create things such as websites, applications, other programs etc. We would be very happy for your support and we will try our best to create things as we learn.</p>
    </div>
    <div class="card">
      <h2 style="font-family: arial; padding-bottom: 20px; text-align:center">Services We Can Provide</h2>
      <p>text text text text ext text text ect text text textext tsxt text text text text text ext text text ect text text textext tsxt text</p>
      <img src="bg.jpeg" style="height:200px; width:100%" id="pic" alt="" />
      <p>text text text text ext text text ect text text textext tsxt text text text text text ext text text ect text text textext tsxt text</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card" style="background-color: #ddd">
      <h2 style="font-family: arial; padding-bottom: 20px;color: black">About Us</h2>
      <img src="bg.jpeg" style="height:100px; width:100%" id="pic" alt="" />
      <p style="color:black">text text text text ext text text ect text text textext tsxt text</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card" style="background-color: #ddd">
      <h2 style="font-family: arial; padding-bottom: 20px; color: black">Accounts</h2>
      <p><a href="#">Fiverr</a></p>
      <p><a href="#">Patreon</a></p>
      <p><a href="#">YouTube</a></p>
      <p><a href="#">Facebook</a></p>
    </div>
  </div>
</div>

<div class="footer">
  <div class="row">
  	<span style="font-size: 10px">This was all made using Python, Html&CSS, and Javascript.</span>
  	<br>
  	<span style="font-size: 10px">PuTech2021.</span>
  </div>
  </div>
</div>

</body>
</html>


